body{
	background-color: blueviolet;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
h1, p{
	align-self: center;
}
form{
	align-self: center;
}

table{
	background-color: white;
}
#texteDer{
	font-weight: bolder;
}